*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "微软雅黑";
	font-size: 15px;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}

#content{
	width: 1090px;
	height: 1030px;
	z-index: 1;
	/*margin-top: 50px;*/
	margin: 0 auto;
}
.address{
	/*margin-left: 110px;*/
	margin-top: 10px;
	width: 1090px;
	/*height: 238px;*/
	border: 1px solid #E8E8E8;
}
.atitle{
	width: 1090px;
	height: 42px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #E8E8E8;
}
.atitle span{
	font-size: 14px;
	color: #999999;
	margin-left: 30px;
	margin-top: 10px;
	float: left;
}
.left{
	float: left;
}
.xiugai{
	display: inline-block;
	width: 60px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border: 1px solid #B4A078;
	color: #B4A078;
	background-color: #F5F3EF;
	margin-left: 90px;
}
.xiugai a{
	color: #B4A078;
}
.aitem{
	margin-top: 25px;
	margin-left: 30px;
	font-size: 14px;
	width: 805px;
}

.moren{
	margin-left: 15px;
	
}
.aleft{
	float: left;
	width: 59px;
	color: #999999;
}
.acenter{
	color: #999999;
	margin-left: 5px;
}
.aright{
	margin-left: 10px;
}
.right{
	width: 253px;
	height: 78px;
	border-left: 1px solid #F5F5F5;
	float: left;
	text-align: center;
	line-height: 58px;
	margin-top: 50px;
}

.right div{
	width: 96px;
	height: 28px;
	background-color: #F5F5F5;
	border: 1px solid #B4A078;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 70px;
	
}
.right div a{
	color: black;
}
.right p{
	width: 96px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
	margin-left: 70px;
	
}
.right p a{
	font-size: 12px;
	color: #6699D5;
}
.information{
	width: 1088px;
	/*height: 600px;*/
	margin-top: 50px;
	border: 1px solid #E8E8E8;
	/*float: left;*/
	display: inline-block;
}
.pro_info{
	/*height: 190px;*/
	width: 1090px;
}
.th1{
	width:300px;
}
.th2{
	width:200px;
	text-align: center;
}
.goodspicture{
	height: 100px;
	margin-top: 15px;
	width: 300px;
}
.goodspicture img{
	float: left;
	display: inline-block;
}
.goodsname{
	font-size: 14px;
	padding-top:30px ;
}
.goodspicture p{
	font-size: 12px;
	margin-top:20px ;
	color: #9999B3;
}
.goodspicture img{
	margin: 20px 20px;
	background-color:#F4F4F4 ;
}
.r1{
	background-color: #F5F5F5;
	font-size: 14px;
	color: #999999;
}
.reciept{
	background-color: #F5F5F5;
	width: 1090px;
	height: 100px;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
}
.reciept_info{
	color: #99A4BE;
	font-size: 15px;
	margin-left: 30px;
	/*margin-top: 15px;*/
}
.reciept_select{
	margin-left: 30px;
	/*margin-top: 15px;*/
	font-size: 16px;
}
.pay_info{
	height: 328px;
	width: 1090px;
	background-color: #F5F5F5;
}

.pay_right{
	width: 500px;
	/*height: 308px;*/
	float: right;
	margin-top: 20px;
}
.pay_price{
	width: 500px;
	/*height: 100px;*/
	margin-top: 20px;
	font-size: 14px;
}
.price_all{
	width: 500px;
	/*height: 100px;*/
	font-size: 14px;
	}
.price_all div{
	    width: 168px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid #b4a078;
    background-color: #b4a078;
    text-align: center;
    margin-top: 10px;
    margin-left: 165px;
}
.price_all div a{
	color: #fff;
}
.pro_all{
	margin-top: 10px;
	margin-left: 100px;
}
.pro_all_left{
	display: inline-block;
	width: 90px;
	height: 10px;
}
.pro_all_right{
	margin-left: 70px;
}
.price_all p{
	margin-top: 10px;
	margin-left: 100px;
}
.p_left{
	margin-left: 100px;
}
.p_right{
	    font-weight: 700;
    color: #d4282d;
    font-size: 20px;
    margin-left: 100px;
}
.xieyi{
	float: right;
}
#tanchuang{
	position:fixed;
	visibility:hidden;
	overflow:hidden;
	width:660px;
	height: 620px;
	background-color: white;
	z-index:10000;
     margin: 20px,auto;
}
#zhezhao{
width:100%;
 height:1900px;
 background-color:#000;
 filter:alpha(opacity=50);
 -moz-opacity:0.5;
 opacity:0.5;
 left:0px;
 top:0px;
position:absolute;
visibility:hidden;
overflow:hidden;
z-index:1000;
}

.addresslist{
	height: 450px;
	overflow: scroll;
}
.selectaddr span{
	margin-top: 10px;
	
}
.addrname1{
	display: inline-block;
	height: 24px;
	font-size: 14px;
	margin-left: 20px;
	color: lightgray;
}
.addrname2{
	display: inline-block;
	width: 330px;
	height: 24px;
	font-size: 12px/1.5;

}
.close{
	 width: 20px; 
	 height: 20px;
	 float: right;
	 margin-right:10px ;
	 margin-top: 10px;
	 
}
.addrborder{
	width: 525px;
	height: 114px;
	border: none;
	border: 1px solid #B4A078;
}
.selectaddrli{
	width: 525px;
	height: 114px;
	border:1px solid lightgray;
	margin-left: 60px;
	margin-top: 50px;
}
.selectaddr h3{
	margin-top: 50px;
	margin-left: 20px;
}
.anniu{
	text-align:center;
	margin-top:20px;
}